@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.form-control {
  padding: 0.8rem 1.5rem;
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  outline: none;

  @include mixins.responsive(xxlg) {
    margin: 10px;
    padding: 1.8rem;
  }

  &:focus {
    border: 2px solid func.theme-colors();
  }
}

.resize-none {
  resize: none;
}
