@use "../abstract/variables" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;

  @include mixins.responsive(xs) {
    padding: 2rem 1rem;
    font-size: 1.2rem;
  }

  @include mixins.responsive(sm) {
    padding: 2rem;
    font-size: 1.2rem;
  }

  .nav-toggler {
    @include mixins.responsive(xs) {
      margin-left: auto;
      padding-right: 20px;
      font-size: 2rem;
    }

    @include mixins.responsive(sm) {
      margin-left: auto;
      padding-right: 20px;
      font-size: 2rem;
    }
  }

  &--menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;

    @include mixins.responsive(xs) {
      display: none;
    }

    @include mixins.responsive(sm) {
      display: none;
    }

    &__item > a {
      margin: 1.5rem;
      font-size: 14px;
      font-weight: 600;
      color: #242424;
      transition: 200ms;

      &:hover {
        color: func.theme-colors("primary-hover");
      }

      &.active {
        color: func.theme-colors();
      }
    }
  }
}
