@use "../abstract/mixins" as mixins;

.contact-area {
  padding: 8rem 20rem;
  background-color: #e0e0e0;

  @include mixins.responsive(xs) {
    padding: 3rem 1rem;
  }

  @include mixins.responsive(sm) {
    padding: 3rem;
  }

  &--card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    background-color: #fff;

    @include mixins.responsive(xs) {
      flex-direction: column;
    }

    @include mixins.responsive(sm) {
      flex-direction: column;
      padding: 2rem;
      align-items: initial;
    }

    &__contents {
      flex-grow: 1;
    }

    &__title {
      font-size: 1.2rem;
    }

    &__desc {
      color: #acaaaa;
    }
  }
}
