@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;

.course-area {
  padding: 8rem;
  background-color: func.theme-colors();

  @include mixins.responsive(xs) {
    padding: 3rem 1rem;
  }

  &--header {
    text-align: center;

    h2 {
      font-size: 2rem;
      color: #fff;

      @include mixins.responsive(xs) {
        font-size: 1.2rem;
      }
    }

    p {
      color: #b4b4b4;

      @include mixins.responsive(xs) {
        font-size: 0.8rem;
      }
    }
  }

  &--contents {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

    @include mixins.responsive(xs) {
      flex-direction: column;
      display: flex;
      align-items: center;
    }
  }

  &--card {
    background-color: #fff;
    max-width: 360px;
    height: 45rem;
    border-radius: 10px;
    overflow: hidden;

    @include mixins.responsive(xs) {
      width: 290px;
      height: 40rem;
    }

    &__img {
      width: 360px;
      height: 360px;
    }

    &__body {
      padding: 2rem 2rem 0;

      p {
        @include mixins.responsive(xs) {
          font-size: 0.8rem;
        }
      }
    }

    &:hover {
      box-shadow: 2px 2px 30px 10px #000000a9;
    }
  }
  &--info {
    text-align: center;
    margin-top: 3rem;
    a {
      font-size: 1.2rem;
      color: #999797;

      @include mixins.responsive(xs) {
        font-size: 0.9rem;
      }
    }
    a:hover {
      color: #dfdfdf;
      text-shadow: 5px 6px 10px #000000;
    }
  }
}
