@use "../abstract/mixins" as mixins;

.hero-area {
  padding: 8rem 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mixins.responsive(xs) {
    padding: 3rem 1rem;
    flex-direction: column;
  }

  &--contents {
    max-width: 40rem;
    margin-right: 2rem;
  }

  &--title {
    font-size: 3rem;
    font-weight: 600;

    @include mixins.responsive(xs) {
      font-size: 2rem;
    }
  }

  &--desc {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #cfcfcf;

    @include mixins.responsive(xs) {
      width: 200px;
      font-size: 0.9rem;
      flex-wrap: wrap;
    }
  }
}
