@use "../abstract/variables" as var;
@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixins;
.roadmap-area {
  padding: 8rem 20rem;

  @include mixins.responsive(xs) {
    padding: 3rem 1rem;
  }

  @include mixins.responsive(lg) {
    padding: 1rem 8rem;
    margin-bottom: 5rem;
  }
  &--header {
    text-align: center;
  }

  &--title {
    @include mixins.responsive(sm) {
      font-size: 2.5rem;
    }
  }

  @include mixins.responsive(sm) {
    padding: 3rem;
  }
  &--header {
    text-align: center;
  }

  &--contents {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    @include mixins.responsive(xs) {
      flex-direction: column;
      padding-right: 1.5rem;
    }

    @include mixins.responsive(sm) {
      flex-direction: column;
      padding-right: 1.5rem;
    }

    @include mixins.responsive(lg) {
      flex-direction: row;
    }
  }

  &--item {
    transition: 500ms;
    position: relative;
    text-align: center;
    margin-left: 3rem;
    padding: 3rem 2rem;
    max-width: 350px;
    cursor: pointer;
    filter: grayscale(100%);

    @include mixins.responsive(lg) {
      margin-left: 3rem;
      padding: 3rem 2rem;
    }

    &:hover &__img1::after {
      animation: rotate-infinite 4000ms linear infinite;
    }
    &:hover &__img2::after {
      animation: rotate-infinite 4000ms linear infinite;
    }
    &:hover &__img3::after {
      animation: rotate-infinite 4000ms linear infinite;
    }

    &__img1 {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto 30px;

      img {
        width: 7rem;
        margin-top: 40px;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -5px;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px dotted func.theme-colors();
      }
    }

    &__img2 {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto 30px;

      img {
        padding: 12px;
        width: 9rem;
        margin-top: 40px;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -5px;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px dotted func.theme-colors();
      }
    }

    &__img3 {
      position: relative;
      width: 150px;
      height: 150px;
      margin: 0 auto 30px;

      img {
        width: 5rem;
        margin-top: 40px;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -5px;
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 5px dotted func.theme-colors();
      }
    }

    &__contents {
      margin-top: 2rem;

      h2 {
        font-weight: 600;
      }

      p {
        color: #8b8888;
        line-height: 1.5;
      }
    }

    &:not(:last-child):before {
      transition: 500ms;
      position: absolute;
      top: 30%;
      right: -20%;
      content: "";
      width: 70px;
      height: 70px;
      font-weight: 700;
      font-family: "Font Awesome 6 Free";
      font-size: 3rem;
      z-index: 1;
      line-height: 1;
      color: #020702;

      @include mixins.responsive(xs) {
        content: "\f107";
        top: 85%;
        left: 38%;
      }

      @include mixins.responsive(sm) {
        content: "\f107";
        top: 85%;
        left: 38%;
      }

      @include mixins.responsive(lg) {
        content: "";
        top: 29%;
        left: 95%;
      }
    }

    &:hover:not(:last-child):before {
      right: -25%;
      color: func.theme-colors();

      @include mixins.responsive(xs) {
        top: 90%;
      }
      @include mixins.responsive(sm) {
        top: 90%;
      }

      @include mixins.responsive(lg) {
        top: 29%;
        left: 105%;
      }
    }

    &:hover h2 {
      color: func.theme-colors();
    }

    &:hover {
      filter: grayscale(0);
    }
  }
}
